/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Roboto:wght@100;400;700&display=swap'); */






.item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselee-main{
  position: relative;
  text-align: center;
}

.item.fst  {
   background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(./../asset/1.jpg) no-repeat 0 0 / cover;

}
.item.snd{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(./../asset/2.jpg) no-repeat 0 0 / cover;

}
.item.thrd{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(./../asset/3.jpg) no-repeat 0 0 / cover;

}

.owl-dots{
  position: absolute;
  bottom: 10px;
  left: 44%;
}
.owl-dot.active span{
  background-color: #007bff!important;
}

.owl-dots button span{
  width: 40px!important;
  height: 5px!important;
}


.innerCarousel h1{
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 148px;
}
.innerCarousel p{
  color: var(--white);
  font-family: nunito;
  font-weight: 200;
  margin-top: 35px;
  margin-bottom:35px;
  font-size: 16px;
}
.innerCarousel button{
  background-color: var(--blue);
  color: var(--white);
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 98px;
}

/*second page general css is start from hare.......*/
.secondTop{
  width: 50%;
  border-left: 3px solid var(--green);
  margin-top: 70px;
  padding-left: 10px;
}
.secondTop h1{
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 10px;
}
.secondTop p{
  font-weight: 200;
  font-size: 18px;
}
.cardSection{
  margin: 65px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  border: 1px solid #8080804f;
  padding: 23px;
  border-radius: 5px;
  position: relative;

}
.card p:first-of-type{
  color: #0354cc;
  font-size: 30px;
  position: absolute;
  transition: 0.5s;
}
.card h3{
 margin: 60px 0 20px 0px;
  color: #0000009c;
  cursor: pointer;
  transition: 0.5s;
}
.card h3:hover{
  color: var(--cyan);
}

.card p:last-of-type{
  margin-bottom: 20px;
  color: #000000c2;
  font-weight: 200;
  font-size: 17px;
  line-height: 26px;
}
.card button{
 border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid blue;
  background: none;
  color: blue;
  font-size: 18px;
  cursor: pointer;
}
.card:hover .myy{
  transform: translateY(-10px);
}

/*third page style css is hare.....*/

#thirdPage{
  background-color: #6c757d0a;
  overflow: hidden;
}
.identifire01{
  padding: 68px 0;
  overflow: hidden;
}

.left,.right{
  float: left;
}
.left div{
  padding: 3px 10px 5px 0px;
}
.left div h2{
  color: #000000a6;
}
.left div p{
  font-size: 18px;
  font-weight: 200;
  padding: 16px 0;
  line-height: 30px;
}
.right img{
  width: 100%;
  border-radius: 5px;
}

/*it is fourth page work.....*/
.financeSection{
  width: 100%;

  position: relative;
  background: var(--bgImg1),url('./../asset/5.jpg') no-repeat 0 0 / cover;
  display: flex;
  justify-content: center;
}

.top{
  width: 50%;
  padding-top: 70px;
}
.top h1{
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.top p{
  font-size: 18px;
  color: white;
  font-weight: 200;
  text-align: center;
  margin-bottom: 400px;
}
.bottom{
 position: absolute;
  bottom: -70px;
}
.bottom video{
  width: 80%;
  margin-left: 10%;

}

/*five page style is hare...*/
.identifire02{
  padding: 150px 0 70px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card.fifth{
  text-align: center;
}

.fifth .myy{
  left: 47%;
}

/*six page is hare....*/

#sixthPage{
  background-color: rgba(128, 128, 128, 0.04);;
  padding:50px 0;

}

.sixBottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  flex-wrap: wrap;
}
.sixdetail{
  width: 30%;
}
.sixdetail img{
  width: 100%;
  border-radius: 5px;
}
.sixdetail h3{
  transition: 1s;
  font-size: 22px;
  color: #000000c4;
  padding: 4px 0px 10px 0;

}
.sixdetail p{
  color: #000000b2;
  font-size: 18px;
}
.sixdetail h3:hover{
  color: blue;
}

/*seven page style is hare...*/
#sevenPage{
  width: 100%;

  background: var(--bgImg1),url('./../asset/4.jpg') no-repeat 0 0 / cover;
  overflow: hidden;
}
#sevenPage div{
  width: 50%;
  margin: 110px auto;
  text-align: center;
  color: #fff;
}

#sevenPage div h1{
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}
#sevenPage div p{
  font-weight: 200;
  font-size: 19px;
  padding: 25px 0;
}
#sevenPage div button{
  padding: 15px 23px;
  background: blue;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}






/*******************************
  responsive start from bellow
********************************/
@media only screen and (min-width:375px){
  .innerCarousel h1{
    font-size: 35px;
  }
  .innerCarousel{
    width: 90%;
    
  }
  .secondTop{
    width: 100%;
  }
  .secondTop h1{}
  .secondTop p{}




  .left,.right,.card.fifth,.sixdetail,.card{
    width: 100%;
    margin-top: 10px;
  }
  #sevenPage div h1 {
    font-size: 30px;
    font-weight: 500;
  }





}

@media only screen and (min-width:768px){

}


@media only screen and (min-width:1024px){

  .innerCarousel{
    width: 50%;
  }
  .innerCarousel h1{
    font-size: 50px;
    font-weight: 700;

  }
  .secondTop{
    width: 65%;
  }
  .left div h2{
    font-size: 22px;
  }
  .left div p{
    line-height: 24px;
    font-size: 16px;
    padding: 5px 0;
  }
  .card{
    width: 24%;
  }
  .left,.right{
    width: 50%;
  }

 .fifth,.sixdetail{
    width: 30%;
  }

  .card.fifth{
    width: 32%;
  }









}












